<div class="container-fluid bg-dark text-white">
  <footer class="container py-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="d-flex align-items-start flex-column">
            <a href="/" class="mb-3 d-flex align-items-center link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-box2-fill" viewBox="0 0 16 16">
                  <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6z"/>
                </svg>
                <h2 class="ms-3 my-0">Estimate & Repair</h2>
              </a>              
              <p class="p-0 m-0 ">© 2024 Silas Skov Christensen. All rights reserved.</p>
              <p class="p-0 m-0 ">© 2024 Silas Skov Christensen. All rights reserved.</p>
              <p class="p-0 m-0 ">© 2024 Silas Skov Christensen. All rights reserved.</p>
            </div>
      </div>
  </footer>
</div>
